
block form
  form
    fieldset
      legend inscris-toi mec, juste pour le plaisir de faire du firebase !
      input(type="text" placeholder="ton nom" required)
      input(type="mail" placeholder="ton mail" required)
      button Mais ouais !