

mixin alreadyLogged(name)
  b-navbar#menu(type="inverse")
    b-nav-toggle(target="nav")
    b-link.navbar-brand(href='/') salut #{name}
    b-collapse#nav(is-nav)
      b-nav(is-nav-bar)
        b-nav-item(href="/defis" )  voir les defis
        b-nav-item(href="/users" )  see users
        b-nav-item(href="/upload") upload a file
        b-nav-item(href="/logOut") log out
  script.
    new Vue({el:'#menu'})



mixin homeForm(legend="signUp",dejaInscrit=true)
  if (!logged)
    b-tabs#tabs(pills)
      b-tab(title="signUp" active)
        form.form-group(@submit.prevent="submit($event)" action="../signUp",method="post")
          input(:style="style2" v-model="name" type="text" placeholder="ton nom" name="nom" required)
          input(title="prout" v-model="mail" type="mail" placeholder="ton mail" name="mail" required :style="style")
          input(type="submit") 
      b-tab(title="signIn")
        form.form-group(action="../signIn",method="post")
          input(type="mail" placeholder="ton mail" name="mail" required)
          input(type="submit") 
    script(src="javascripts/auth.js")
    script(src="../javascripts/auth.js")
  else
    .alreadyLogged
      +alreadyLogged(name)


mixin fileTransfert
  #uploadForm
    form.form-group#dirUpload(action="upload/dir" method="post" enctype="multipart/form-data")
      .input-group
        .input-group-addon
          span.button-secondary DIRECTORY
        input#dir.form-control(type="file" name="dir" multiple webkitdirectory)
        input.btn(type="submit" value="upload")
    script.
      var  output = [];
      document.getElementById("dir").addEventListener("change", function(event) {
        var  files = event.target.files;
        for (var  i=0; i<files.length; i++) {
          var  item = files[i].webkitRelativePath;
          output.push(item);
        };
        console.log(output);
      }, false);  
      document.getElementById("dirUpload").addEventListener("submit",function(ev){
        ev.preventDefault();
          var input = $("<input>").attr("type", "hidden").attr("name", "io").val(output);
          $(ev.target).append($(input));
          ev.target.submit()
      })
    form.form-group(action="newFile", method="post", enctype="multipart/form-data")
      #buttons.input-group(data-toggle="buttons")
        .input-group-addon
          span.button-secondary HTML
        input.form-control(type="file", name="html")
        .input-group-addon
          span.button-secondary CSS
        input.form-control(type="file",  name="css")
        .input-group-addon
          span.button-secondary JAVASCRIPT
        input.form-control(type="file", name="js")
        input.btn(type="submit" value="upload")
