
block form
  form
    fieldset
      legend inscris-toi mec !
      input(type="text" placeholder="ton nom" required)
      input(type="mail" placeholder="ton mail" required)
      button(type="submit") Mais ouais !