doctype html
html
  head
    title= title
    link(rel='stylesheet', href="https://unpkg.com/normalize.css")
    link(rel='stylesheet', href='/stylesheets/final/main.css') 
    link(href="https://fonts.googleapis.com/css?family=Oswald|Press+Start+2P|Mukta+Vaani" rel="stylesheet")
    //- script(src="vendor/jquery/dist/jquery.min.js")
    script(src="https://unpkg.com/jquery@3.2.1")
  body
    block content
    script(src="http://css-tricks.com/examples/BlurredText/js/jquery.lettering.js")
    script(src="javascripts/index.js")