
doctype html
html
  head
    title= title
    link(rel='stylesheet', href="https://unpkg.com/normalize.css")
    link(href="//fonts.googleapis.com/css?family=Oswald|Press+Start+2P|Mukta+Vaani" rel="stylesheet")
    link(rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="//unpkg.com/jquery@3.2.1")
    script(src="//unpkg.com/vue")

    style
        include:sass ../public/stylesheets/main.sass

  body
    block content
    include forms
    +homeForm

