
doctype html
html
  head
    title= title
    link(rel='stylesheet', href="https://unpkg.com/normalize.css")
    link(href="https://fonts.googleapis.com/css?family=Oswald|Press+Start+2P|Mukta+Vaani" rel="stylesheet")
    script(src="https://unpkg.com/jquery@3.2.1")
    script(src="vendor/bootstrap/dist/js/bootstrap.js")
    script(src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js")
    script(src="javascripts/firebase.js")
    style
        include:sass ../public/stylesheets/main.sass

  body
    //- .navbar.navbar-default
    //-   .nav.navbar-nav
    //-     ul 
    //-       li coucou
    //-       li coucou
    block content
