extends layout

block content
  #intro
    if name == null
      :markdown-it
        Inscris-toi pour pouvoir uploader des fichiers
    else
      h1 OK, #{name}
      :markdown-it
        Plusieurs possibilités s'ouvrent à toi mon grand.
        * Si tu utilises Safari, ou un autre navigateur un peu vieux, tu ne peux uploader les fichiers qu'un par un.
          
        * Si tu utilises Chrome ou Firefox dans une version suffisament récente, tu peux uploader entièrement un dossier
  include forms
  if name != null
    +fileTransfert