extends layout

mixin stars()
  - var n = 3
  while n > 0
    if name != null
      i.fa.fa-star(:style='{ opacity: opacity}')
    else
      i.fa.fa-star-o
    - n--

mixin badge(user,id,i)
  li.siteBadges
    a(href="/users/"+user.username).image
      p= user.username
      img(src=user.username+'prev.png', alt="pas de preview")
    .infos
      ul
        for info,k in user.infos
          li #{k} : #{info}
      if name != null
        div(class="stars" id="id"+i @mousemove="rate($event)" @click="go($event)")
          if name != user.username
            +stars
      else
        .stars-plouc
          +stars


block content
  h1 
    | Les créations de tous 
    i.fa.fa-heart
  h2
    | Si tu veux juger, inscris-toi 
    i.fa.fa-pencil
  ul.wrap
    each user,i in users
      if user.username == name
        +badge(user,"moi")
      else
        +badge(user,"autres",i)
  script
    include:coffee-script javascripts/stars.coffee


