
figure
  margin-bottom: 250px
  figcaption
    color: white
    font-family: 'Press Start 2P', cursive
    margin-top: 10px
    font-size: 0.5em
  img
    display: block
    text-align: center
    border-radius: 50%
    width: 60% 
    margin: auto 150px  
  
.badge 
  position: relative
  width: 400px
  border-radius: 50%
  margin: auto
  transform: rotate(-85deg)

span 
  font-size: 25px
  font-family: 'Press Start 2P'
  height: 300px
  position: absolute
  left: 300px;
  top: -305px;
  transform-origin: bottom center


@for $i from 1 through 100 
  .char#{$i} 
    transform: rotate(($i*5)+deg)