#iframes
  // position: relative
  // height: 400px
  margin-top: 415px 
  margin-bottom : 200px
   
// iframe
//   position: absolute

// @for $i from 1 through 6
//   iframe:nth-of-type(#{$i}) 
//     left: random(400)  + px    
//     top: random(400)  + px

// iframe:last-of-type
//   position: relative
//   left : 0
//   top : 0

// #iframes
//   display: flex
//   iframe
//     justify-content: space-around

iframe
  position: relative

iframe:nth-of-type(1) 
  left: 20px    

iframe:nth-of-type(2) 
  left: 320px    
