
$bgcolor: rgba(150,30,30,0.5)
$mainColor: green

@import 'badge'
@import 'iframe'
@import 'background'
@import 'lists'
@import 'form'
@import 'newfile'


body
  height: 100%
  margin: 0
  // margin-top: -78px
  background-color: $bgcolor
  color: $mainColor
  font-family: 'Oswald', sans-serif
  font-size: 1.2rem

a
  text-decoration: none

img
  max-width: 80%

.container
  width: 80%
  margin: auto

h1
  text-align: center
  // margin-top: 150px 
  margin-bottom: 300px 
  font-family: 'Mukta Vaani', sans-serif
  font-size: 6em
  color: blue
  // color: desaturate($mainColor, 20)   

#titre
  // display: flex
  overflow: hidden
  margin-bottom: 500px
  position: relative
  p
    padding-top: 40px
    font-style: italic 
  img:nth-of-type(1)
    width: 7%
    position: absolute
    left: 565px;
  img:nth-of-type(2)
    width: 40%
    float: right
    display: inline-block

figure
  margin-bottom: 500px
  margin-left: 50%
  // *
  //   display: block
  //   margin: auto    
  figcaption
    color: white
    font-family: 'Press Start 2P', cursive
    margin-top: 10px
    font-size: 0.5em
  img
    display: block
    text-align: center
    border-radius: 50%
    max-width: 150%
    width: 100%   
    margin-top: 150px
    margin-bottom: 150px


a:hover
  // font-size: 3em
  color: red


.voixPeuple
  text-align: right
  color: blue
  font-size: 3.8rem

#color
  margin: 40px auto
  padding: 10px
  width: 30%
  display: inline-block
  // background-color: black
  border-radius: 20px
  font-size: 3rem
  text-align: center
  a    
    color: white


#appear
  animation-name: bob
  animation-duration: 1s

#svg
  margin-top: 200px
  margin-bottom: 200px
  // margin-left: 60% 
  position : relative
  img
    width: 80%
  a
    color: red 
    font-style: none    
    transition-duration: 0.2s 
    &:hover
      transition-duration: 1s 
      text-shadow: 0 0 40px yellow

  p
    position: absolute  
    font-size: 20rem
    top : 20px
    right: 50px
    z-index : 1
    text-shadow: 0 0 20px white

#italic
  margin-top: 500px

p:last-child
  text-align: center
  margin: 100px auto  
